extends layout

block content
    #page-content-wrapper
        .header
            a.glyphicon.glyphicon-align-justify#menu-toggle
            h3.categoryName 英雄联盟
        .container-fluid.liveList
            each item in liveJson
                a.col-lg-3.col-md-4.col-sm-6.ellipsis(href='#{item.url}', target='_blank')
                    img(src='#{item.snapshot}')
                    h5 &nbsp;#{item.title}
                    .row
                        .col-sm-7
                            span.glyphicon.glyphicon-user
                            &nbsp;#{item.anchor}
                        .col-sm-5.text-right
                            span.glyphicon.glyphicon-eye-open
                            &nbsp;#{item.audienceNumber}

