extends layout

block content
    -
        var platformList = {
            pandaTv: '熊猫',
            douyuTv: '斗鱼',
            zhanqiTv: '战旗',
            huya: '虎牙',
            quanminTv: '全民',
            longzhu: '龙珠'
        };
        var platform = platformList[category.platform];

    #page-content-wrapper
        .header.row
            .col-md-8
                a.glyphicon.glyphicon-align-justify#menu-toggle
                h3.categoryName= category.name
            .col-md-4.dropdown
                .pull-right
                    button#dLabel.btn.btn-primary(type='button', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")
                        if platform
                            | #{platform}
                        else
                            | 所有平台
                        | &nbsp;&nbsp;&nbsp;
                        span.caret
                    ul.dropdown-menu(aria-labelledby='dLabel', role='menu')
                        each name, path in platformList
                            li(role='presentation')
                                if platform !== name
                                    a(role='menuitem', href='/#{ category.path }/#{ path }')= name
                        if platform
                            li(role='presentation')
                                a(role='menuitem', href='/#{category.path}') 全部
        .container-fluid.liveList
            .row
                each item in liveJson
                    a.col-lg-3.col-md-4.col-sm-6.ellipsis(href='#{item.url}', target='_blank')
                        img(src='#{item.snapshot}')
                        img.platform-icon(src='#{item.platformIcon}')
                        h5 &nbsp;#{item.title}
                        .row
                            .col-sm-7
                                span.glyphicon.glyphicon-user
                                | &nbsp;#{item.anchor}
                            .col-sm-5.text-right
                                span.glyphicon.glyphicon-eye-open
                                | &nbsp;#{item.audienceNumber}

